{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
<h1 align="center">Вот что я умею:</h1>
<div class="col-md"></div>
<div class="card border-primary mb-3"style="max-width: 18rem;">
  <div class="card-header"><h4>Python 3.9.6</h4></div>
  <div class="card-body">
    <h5 class="card-title">Информация о языке программирования</h5>
    <p class="card-text">Python – один из распространенных языков программирования, стал популярным благодаря упрощенному синтаксису и большому количеству полезных функций.</p>
  </div>
</div>
<div class="col-md"></div>
<div class="card border-primary mb-3"style="max-width: 18rem;">
  <div class="card-header"><h4>Django version 2.2.6</h4></div>
  <div class="card-body">
    <h5 class="card-title">Информация о фреймворке</h5>
    <p class="card-text">Свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC.</p>
  </div>
</div>
<div class="col-md"></div>
  <div class="card border-primary mb-3"style="max-width: 18rem;">
    <div class="card-header"><h4>Bootstrap v5.1.1</h4></div>
    <div class="card-body">
    <h5 class="card-title">Информация о фреймворке</h5>
    <p class="card-text">Это открытый и бесплатный HTML, CSS и JS фреймворк, который используется веб-разработчиками для быстрой вёрстки адаптивных дизайнов сайтов и веб-приложений.</p>
  </div>
</div>
<div class="col-md"></div>
<div class="card border-primary mb-3"style="max-width: 18rem;">
  <div class="card-header"><h4>HTML</h4></div>
  <div class="card-body">
    <h5 class="card-title">Информация о языке</h5>
    <p class="card-text">Стандартизированный язык разметки документов для просмотра веб-страниц в браузере.</p>
  </div>
</div>
{% endblock %} 







 